@font-face{
    font-family: 'montserrat';
    src: url(../fonts/montserrat/Montserrat-Bold.ttf);
}
@font-face{
    font-family: 'montserrat';
    src: url(../fonts/montserrat/Montserrat-Regular.ttf);
}
@font-face{
    font-family: 'product-sans';
    src: url(../fonts/produtc-sans/11823.ttf);
}