:root{
    --ps:'product-sans';
    --m:'montserrat';
    --yellow:#ffcb02;
    --white:#ffffff;
    --dark:#1e2020;
    --dark_light:#282929;
    }
*,a,p,h1,h2,h3,h4,h5,h6,ul{
    margin: 0;
    padding: 0;
    font-family: 'product-sans';
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}
a:hover{
    text-decoration: none;

}
img{
    max-width: 100%;
}