@import 'root.css';

.header {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header__nav {
    background: var(--dark);
    padding: 23px 0;
}

.header__menu {
    display: flex;
}

.header__menu-link {
    text-transform: uppercase;
    margin-left: 55px;
    font-size: 20px;
    font-family: var(--ps);
    color: var(--white);
}

.header__menu-link:hover {
    color: var(--yellow);
}

.logo {
    text-transform: uppercase;
    font-size: 26px;
    position: relative;
    z-index: 1;
    display: block;
    line-height: 1;
    padding: 6px 18px;
    color: var(--white);
    background: linear-gradient(75deg, var(--white), var(--yellow));
}

.logo::before {
    content: '';
    position: absolute;
    background: var(--dark);
    z-index: -1;
    left: 2px;
    top: 2px;
    right: 2px;
    bottom: 2px;
}

.logo:hover {
    color: white;
}

.logo__letter-y {
    color: var(--yellow);
}

.dropdown-item_bb-dark {
    border-bottom: 1px solid var(--dark);
}

.header__content {
    background: url(../images/header__img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.header__title {
    color: var(--white);
    font-size: 60px;
    text-transform: uppercase;
    margin-bottom: 55px;

}

.header__desc {
    font-size: 22px;
    color: var(--white);
    text-align: justify;
    line-height: 27px;
}

/* ********* Header end *********** */
.history {
    background: var(--dark);
    padding: 60px 0;
}

.history__title {
    font-size: 28px;
    color: var(--yellow);
    text-transform: uppercase;
    margin-bottom: 30px;
}

.history__title::before,
.history__title::after {
    content: '';
    display: block;
    height: 2px;
    width: 50px;
    background: var(--white);
}

.history__title::before {
    margin-left: auto;
}

.history__desc {
    color: var(--white);
    font-size: 18px;
    text-align: justify;
}

/* ********** history end */
.study {
    background: var(--dark_light);
    padding: 15px 0;
}

.study__slider-prev,
.study__slider-next {
    position: absolute;
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: var(--yellow);
}

.study__slider-prev,
.study__slider-next {
    color: var(--yellow);
}

.study__slider-prev {
    left: 0;
}

.study__slider-next {
    right: 0;
}

.study__slider-prev i::after,
.study__slider-next i::after {
    color: #a5a6a6;
}

.study__title {
    color: var(--white);
    font-size: 24px;
    text-transform: uppercase;
    font-style: (--m);
    font-weight: 700;
    margin-bottom: 20px;
}

.study__title_color-yellow {
    color: var(--yellow);
}

.study__desc {
    color: var(--white);
    font-size: 18px;
    text-align: justify;
}

.study__image {
    border-radius: 6px;
    max-height: 370px;
    object-fit: cover;
    width: 100%;

}